<div class="container project3">
  <div class="row">
    <div class="col-lg-6 col-12 cproject3 pe-md-5 wow fadeInLeft">
      <h3 class="cptexth5">Envianos tu consulta ahora</h3>
      <form id="contactForm" novalidate>
        <div class="form-floating">
          <input type="text" class="form-control" placeholder="Nombre" name="name" required>
          <label for="name">Nombre*</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" placeholder="Email" name="email" required>
          <label for="email">Email*</label>
        </div>
        <div class="form-floating">
          <input type="tel" class="form-control" placeholder="Telefono" name="phone" required>
          <label for="name">Telefono*</label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" name="consult" style="height: 110px" placeholder="Consulta" required></textarea>
          <label for="consult">Consulta*</label>
        </div>
        <button class="btn btn-primary mt-3" type="submit" onclick="submited(); fbq('track', 'Lead');">Enviar</button>
      </form>
      <div id="formSending" style="display: none;">
        <p class="h3 strong">
          Enviando
          <span></span>
          <span></span>
          <span></span>
        </p>
      </div>
      <div id="formSuccess" style="display: none;">
        <p class="h3 strong">¡Consulta Enviada!</p>
      </div>
      <div id="formError" style="display: none;">
        <p class="h3 strong">¡Error en el envio de su consulta.<br>Por favor intentar mas tarde!</p>
      </div>
    </div>
    <div class="col-lg-6 col-12 pe-md-5 red wow fadeInRight">
      <h3 class="visit">¡Visitanos en la sala de ventas!</h3>
      <div class="dtittle">
      <h5 class="quintary mb-3" style="color: white">Galería Queens, sobre Papa Juan XXlll entre <br class="d-none d-sm-block"/>Cecilio Da Silva y César López Moreira. Local 5.</h5>
      <h6 class="quintary" style="color: white">Lunes a Viernes: 9:00 a 18:00 Hrs.</h6>
      </div>
      <a href="https://api.whatsapp.com/send?phone=595994208038" class="whatsapp strong" target="_blank" rel="noopener" ><img src="assets/images/whatsapp.svg" width="100%" height="auto" alt="Ciudad jardin" class="imgwhatsapp" ><h1 class="primary">+595 984706800</h1></a>
      <div class="shared">
        <a href="https://www.facebook.com/Oga-Ciudad-Jard%C3%ADn-104919451767583/" target="_blank" rel="noopener"><img src="assets/images/facebook.svg" width="40" height="40"  class="facebook" alt="Ciudad jardin"></a>
        <a href="https://www.instagram.com/ogaciudadjardin/" target="_blank" rel="noopener" ><img src="assets/images/instagram.svg" width="40" height="40"  class="instagram" alt="Ciudad jardin"></a>
      </div>
    </div>
  </div>
</div>
