<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <!-- TODO: necesito el logo con el ovalo que tiene de fondo -->
      <img src="assets/images/Group_220.svg" alt="Oga Ciudad jardin" class="imgnavbar">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </button>
    <div class="collapse navbar-collapse main" id="navbarSupportedContent">
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            El proyecto
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/project.html">El proyecto</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/project.html#amenities">Amenities</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/project.html#unidades">Unidades</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/mainfinance.html">Financiación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/backboard.html">Respaldo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="#contact">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/theowner.html">Soy dueño</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
