<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <!-- TODO: necesito el logo con el ovalo que tiene de fondo -->
      <img src="assets/images/logo/logo-oga.svg" alt="Oga Ciudad jardin" class="imgnavbar">
    </a>
    <a class="nav-link btn btn-primary d-block d-lg-none dif" href="#contact">Contacto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="linea_m">
        <span class="m_line"></span>
        <span class="m_line"></span>
        <span class="m_line"></span>
      </div>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    </button>
    <div class="collapse navbar-collapse main" id="navbarSupportedContent">
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            El proyecto
          </a>
          <div class="menuDropdown collapse" id="collapseExample">
            <div class="containerDropdown" >
              <p><a href="project.html">El proyecto</a></p>
              <div class="dropdown-divider d-none d-lg-block"></div>
              <p><a href="project.html#unidades">Unidades</a></p>
              <div class="dropdown-divider d-none d-lg-block"></div>
              <p><a href="project.html#amenities">Amenities</a></p>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="mainfinance.html">Financiación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="backboard.html">Respaldo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary d-none d-lg-block" href="#contact">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="theowner.html">Soy dueño</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
