<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="ptittle">Un proyecto con el respaldo de</h4>
    </div>
    <div class="col-12 back">
      <div class="pflex">
        <img src="assets/images/Group_142.svg" alt="Ciudad jardin">
        <img src="assets/images/Group_142.svg" alt="Ciudad jardin">
        <img src="assets/images/Group_142.svg" alt="Ciudad jardin">
        <img src="assets/images/Group_142.svg" alt="Ciudad jardin">
        <img src="assets/images/Group_142.svg" alt="Ciudad jardin">
        <!-- <div class="item1"><img src="assets/images/Group_142.svg" alt="Ciudad jardin"></div>
        <div class="item2"><img src="assets/images/Group_142.svg" alt="Ciudad jardin"></div>
        <div class="item3"><img src="assets/images/Group_142.svg" alt="Ciudad jardin"></div>
        <div class="item4"><img src="assets/images/Group_142.svg" alt="Ciudad jardin"></div>
        <div class="item5"><img src="assets/images/Group_142.svg" alt="Ciudad jardin"></div> -->
      </div>
    </div>
  </div>
</div>
