@import "fonts.css";

:root{
  --primary: #F8B600;
  --secondary: #5716A3;
  --text: #5716A3;
  --text-secondary: #FFFDFD;
  --text-hover: #191920;
  --btn: #F8B600;
  --btn-hover: #F8B600;
  font-size: 16px;
}

p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Roboto;
  color: var(--text);
}

a{
  font-family: Roboto;
  color: var(--text-secondary);
}
a:hover {
    color: #f1f1f1;
}
p,div,input,button,textarea{
  font-family: Roboto;
  color: var(--text-secondary);
}

img {
  max-width: 100%;
}

section {
  position: relative;
}

.btn.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 10px 40px !important;
  color: #5716A3 !important;
  border-radius: 20px;
  font-weight: 800;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: var(--btn-hover)!important;
  border-color: var(--btn-hover)!important;
  box-shadow: 0px 3px 6px #00000029;;
}
/*-----------------------------------------INDEX--------------------------------------------*/
/*----------------------------Web-------------------------------*/
/*---------------Header------------------*/
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0px;
  background: rgba(87, 22, 163, .8);
}
.nav-link {
  text-align: left;
  font: normal normal medium 16px/22px Poppins;
  letter-spacing: 0px;
  color: #FFFDFD !important;
}
.navbar-nav {
  margin-left: auto;
  padding-right: 17px;
}
/*.main {
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
}*/

.navbar-light .navbar-toggler {
  color: rgba(250,250,250,.55) !important;
  border-color: rgba(250,250,250,.55) !important;
  top: 0;
  bottom: 0;
}
ul.dropdown-menu.show {
  background-color: rgba(117, 86, 192, 0.8);
  border: none;
}
ul.dropdown-menu.show a {
  color: white;
}
.dropdown-item:focus, .dropdown-item:hover {
  width: fit-content;
  background-color: rgba(117, 86, 192, 0.8);
}
hr.dropdown-divider {
  color: #fffdfd !important;
  height: 2px;
}
/*---------------Banner------------------*/
#banner .owl-dots {
  display: none;
}
#banner .owl-nav button {
  outline: none!important;
  border: 2px solid #fff!important;
  border-radius: 100%!important;
  width: 50px;
  height: 50px;
  display: flex!important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#banner .owl-nav button.owl-prev {
  left: 15px;
}
#banner .owl-nav button.owl-next {
  right: 15px;
}

#banner button.owl-next span {
  border-color: white;
  border-width: 2px 2px 0 0;
  border-style: solid;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  transform: rotate(45deg) translate(-4px, 4px);
  display: block;
  font-size: 0;
}
#banner button.owl-prev span {
  border-color: white;
  border-width: 0 0 2px 2px;
  border-style: solid;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  transform: rotate(45deg) translate(4px, -3px);
  display: block;
  font-size: 0;
}
#banner .owl-theme .owl-nav [class*=owl-]:hover {
  background: 0 0 !important;
}
#banner .owl-theme .owl-nav {
  margin-top: 0 !important;
}
/*---------------Pie Banner------------------*/
#piebanner {
  background-color: #8FCB5D;
  height: 28vh;
  z-index: 2;
}
.pbtittle {
  margin-top: 14px;
  font-weight: 900;
}

.btnbanner{
  margin-top: 28px;
}
/*---------------Finances------------------*/
.ftittle{
  margin-top: 47px;
  margin-bottom: 10px;
}
.ftittle2{
  margin-bottom: 32px;
}
.fgrid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.fgrid .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 7.5px;
}
.fgrid .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fgrid .item3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
.fgrid .item4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  top: 0;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
}
.fgrid .item5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
.fgrid .item6{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fgrid .item3 img {
  width: 60px;
}
#finance .fibanner {
  position: absolute;
  height: 675px;
  right: 0;
  top: -48px;
  z-index: 1;
}
/*---------------Finances Banner------------------*/
#fbanner{
  background-color: #5716A3;
  height: 126px;
  margin-top: 50px;
}
.fbtittle{
  color: #FFFFFF;
  font-weight: 900;
  margin-top: 41px;
}
.btnfbanner {
  margin-top: 41px;
  font-weight: 800;
}
 /*---------------Project------------------*/
 /*--------Project1--------*/
.project1{
  height: 130px;
}
.ptittle{
  margin-top: 78px;
  text-align: center;
}
.col-12.back {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pgrid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: 20px;
  grid-column-gap: 10px;
}
.pgrid .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item4{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item5{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
 /*--------Project1--------*/
 .project2{
  background-image: url(../images/hands-keys.jpg);
  background-repeat: no-repeat;
  height: 50vmax;
  background-size: cover;
  margin-top: 100px;
 }
 /*--------Contact--------*/
.project3 {
  background-color: #5716A3;
  position: relative;
  padding-left: 132px;
  padding-top: 10px;
}
.form-floating {
  width: 486px;
}
#contactForm label {
  color: #494846;
}
.project3 h3 {
  margin-bottom: 36px;
  color: white;
}
.dtittle{
  margin-top: 50px;
  margin-bottom: 100px;
  color: white;
}
.project3 h5 {
  color: white;
  margin-top: 28px;
  margin-bottom: 28px;
}
.project3 form input {
  margin-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 0;
}
.project3 textarea {
  border-radius: 0;
  height: 100px;
}
.project3 p.strong {
  color: white;
}
.project3 #formSending p.strong {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.project3 #formSending p.strong span {
  background: #fff;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  margin: 0 3px;
  animation: sending 1s infinite;
}
img.facebook {
  margin-right: 30px;
}
.privacy{
  padding-top: 144px;
}
.col-7.red {
  padding-left: 133px;
  padding-right: 122px;
}
.whatsapp {
  border-top: solid 2px #8FCB5D;
  border-bottom: solid 2px #8FCB5D;
  font-size: 32px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: none;
  font-weight: 500;
}
img.imgwhatsapp {
  padding-right: 20px;
  width: 65px;
  padding-bottom: 10px;
}
.shared {
  margin-top: 40px;
}
/*--------Privacy--------*/
.pprivacy{
  background-color: #5716A3;
}
.lprivacy{
  padding-top: 144px;
  text-align: end;
}
.pritittle{
  padding-top: 12px;
  font-size: 9px;
}
.logtittle{
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 9px;
  padding-right: 85px;
}
img.logop {
  width: 40%;
  padding-bottom: 20px;
}
/*-----------------------------------------Project.html--------------------------------------------*/
/*---------------Project Banner------------------*/
#pbanner .owl-nav {
    display: none;
}
#pbanner .owl-dots {
    margin-top: -40px;
    position: absolute;
    left: 0;
    right: 0;
}
#pbanner .owl-theme .owl-dots .owl-dot span {
    background: #8fcb5d !important;
}
/*---------------The Project------------------*/
#theproject {
    margin-top: 100px;
}
#theproject .tpgrid h5{
  color: #1A1A1A;
}
.tptittle{
  font-weight: 900;
}
.tptittle1 {
  font-size: 54px;
  font-weight: 900;
  margin-bottom: 0;
}
.tptittle2 {
  color: #1A1A1A;
  margin-bottom: 30px;
  margin-top: 5px;
  width: 290px;
}
.tpgrid{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-row-gap: 15px;
}
.tpgrid .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.tpgrid .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  top: 0;
  bottom: 0;
  margin-top: auto;
}
.tpgrid .item3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
.tpgrid .item4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  top: 0;
  bottom: 0;
  margin-top: auto;
}
.tpgrid .item5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}
.tpgrid .item6{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  top: 0;
  bottom: 0;
  margin-top: auto;
}
.tpgrid .item7{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
}
.tpgrid .item8{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  top: 0;
  bottom: 0;
  margin-top: auto;
}
.tpgrid .item9{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
}
.tpgrid .item10{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  top: 0;
  bottom: 0;
  margin-top: auto;
}
.tpgrid .item11{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
img.tpimages {
    padding-right: 20px;
    padding-bottom: 51px;
}
/*---------------Ubication------------------*/
#ubication{
  background: #8FCB5D;
  padding-top: 90px;
  margin-top: 64px;
}
.utittle{
  font-weight: 900;
  padding-bottom: 50px;
}2
.utittle1 {
  font-size: 115px;
  font-weight: 900;
  margin-bottom: 0;
}
.utittle2 {
  font-size: 57px;
  font-weight: 700;
  font-weight: 700;
  margin-bottom: 0;
}
.utittle3 {
  color: #FFFFFF;
  padding-bottom: 151px;
}
img.uimages {
  padding-right: 20px;
  margin-bottom: 20px;
}
/*---------------Amenities------------------*/
#amenities{
  margin-top: 71px;
}
#amenities .ugrid p{
  color: #1A1A1A;
}
.amenities {
  display: flex;
  flex-direction: row;
  align-items: center;
}
img.aimages {
  padding-right: 30px;
  padding-bottom: 70px;
}
.ugrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  margin-top: 18px;
}
.ugrid .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ugrid .item2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.ugrid .item3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.ugrid .item4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.ugrid .item5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
.ugrid .item6{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ugrid .ite7{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.ugrid .item8{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.ugrid .item9{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.ugrid .item10{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.ugrid .item11{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ugrid .item12{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.ugrid .item13{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.ugrid .item14{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
/*---------------Z-Banner------------------*/
#zbanner {
  margin-top: 165px;
}
#zbanner .owl-nav {
  display: none;
}
#zbanner .owl-dots {
  margin-top: -40px;
  position: absolute;
  left: 0;
  right: 0;
}
#zbanner .owl-theme .owl-dots .owl-dot span {
  background: #8fcb5d !important;
}
/*---------------Unidades------------------*/
section#unidades {
  margin-top: 135px;
}
.col-12.unid {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h2.atittle {
  font-weight: 900;
  width: 70vw;
  font-size: 40px;
}
#unidades .vgrid p {
  color: black;
  width: 70%;
}
#unidades .vgrid img {
  width: 70%;
}
#unidades .vgrid .unidmin{
  font-size: 11px;
}
#unidades .vgrid span {
    font-size: 20px;
}
#unidades .vgrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 17px;
  margin-top: 112px;
}
#unidades .vgrid .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#unidades .vgrid .item2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#unidades .vgrid .item4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#unidades .vgrid .item6{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#unidades .vgrid .item7{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#unidades .vgrid .item9{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#unidades .vgrid .item11{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
#unidades .vgrid .item12{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#unidades .vgrid .item14{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
/*---------------Storage------------------*/
#storage {
    margin-top: 124px;
}
.storage{
  background-color: #5716A3;
  border-radius: 48px;
  height: 96px;
  width: 710px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 20% 35% 5% 40%;
  align-items: center;
}
/*.storage .storimg{
  position: absolute;
}*/
.storage p, h1{
  color: white;
}
.storage span {
    font-size: 20px;
    /* margin-right: 20px; */
}
.storage h5 {
    margin-bottom: 0;
}
.storage .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.storage .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.storage .item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 0px;
  height: 66px;
  border: 2px solid #8FCB5D;

}
.storage .item4{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.cstor{
  margin-top: 44px;
  text-align: center;
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  .navbar-collapse {
      background: rgba(117, 86, 192, 0.8);;
      position: fixed;
      left: 0;
      top: 90px;
  }
  .navbar-collapse .navbar-nav .nav-item a {
    /* padding-left: 20px; */
    margin-left: 20px;
  }
  .btn.btn-primary {
    width: fit-content;
  }
  /*li:not(:last-child) a:before {
    content: '';
    position: absolute;
    background: #f9fafb;
    width: calc(100% - 6px);
    height: 1px;
    left: 17px;
    bottom: 0;
  }
  .navbar-collapse li:not(:last-child) a {
    position: relative;
  }*/

}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
