@import "fonts.css";

:root{
  --primary: #F8B600;
  --secondary: #5716A3;
  --text: #5716a3;
  --text-secondary: #FFFDFD;
  --text-hover: #191920;
  --btn: #F8B600;
  --btn-hover: #F8B600;
  font-size: 16px;
}

p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Roboto;
  color: var(--text);
}
h1{
  font-weight: 600;
}
h2{
  font-weight: 900;
}
.display-1, .display-2, .display-3, .display-4{
  font-family: Roboto;
  color: var(--text);
  font-weight: 600;
}
.display-5{
  font-family: Roboto;
  color: var(--text-secondary);
  font-weight: 600;
}

/*a{
  font-family: Roboto;
  color: var(--text-secondary);
}*/
a:hover {
    color: #f1f1f1;
}
a,p,div,input,button,textarea{
  font-family: Roboto;
  color: var(--text-secondary);
}

img {
  max-width: 100%;
}

section {
  position: relative;
}

.btn.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 6px 40px !important;
  color: #5716A3 !important;
  border-radius: 20px;
  font-weight: 500;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: var(--btn-hover)!important;
  border-color: var(--btn-hover)!important;
  box-shadow: 0px 3px 6px #00000029;;
}
display-1, display-3, display-4{
    display: flex;
}
/*-----------------------------------------INDEX--------------------------------------------*/
/*----------------------------Web-------------------------------*/
/*---------------Header------------------*/
header {
  position: fixed;
  height: 57px;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0px;
  background: rgba(87, 22, 163, .8);
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.nav-link {
  text-align: left;
  font-weight: 500;
  letter-spacing: 0px;
  color: #FFFDFD !important;
}
.navbar-nav {
  margin-left: auto;
  padding-right: 17px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding-top: 0;
}
div#navbarSupportedContent {
    padding-bottom: 15px;
}
/*.main {
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
}*/

.navbar-light .navbar-toggler {
  color: rgba(250,250,250,.55) !important;
  border-color: rgba(250,250,250,.55) !important;
  top: 0;
  bottom: 0;
}
ul.dropdown-menu.show {
  background-color: rgba(117, 86, 192, 0.8);
  border: none;
}
ul.dropdown-menu.show a {
  color: white;
}
.dropdown-item:focus, .dropdown-item:hover {
  /*width: fit-content;*/
  background-color: rgba(117, 86, 192, 0.8);
}
hr.dropdown-divider {
  color: #fffdfd !important;
  height: 2px;
  width: 85%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-menu li {
  text-align: center;
}
/*---------------Banner------------------*/
#banner .owl-dots {
  display: none;
}
#banner .owl-nav button {
  outline: none!important;
  border: 2px solid #fff!important;
  border-radius: 100%!important;
  width: 50px;
  height: 50px;
  display: flex!important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#banner .owl-nav button.owl-prev {
  left: 15px;
}
#banner .owl-nav button.owl-next {
  right: 15px;
}

#banner button.owl-next span {
  border-color: white;
  border-width: 2px 2px 0 0;
  border-style: solid;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  transform: rotate(45deg) translate(-4px, 4px);
  display: block;
  font-size: 0;
}
#banner button.owl-prev span {
  border-color: white;
  border-width: 0 0 2px 2px;
  border-style: solid;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  transform: rotate(45deg) translate(4px, -3px);
  display: block;
  font-size: 0;
}
#banner .owl-theme .owl-nav [class*=owl-]:hover {
  background: 0 0 !important;
}
#banner .owl-theme .owl-nav {
  margin-top: 0 !important;
}
/*---------------Pie Banner------------------*/
#piebanner {
  background-color: #8FCB5D;
  padding-top: 14px;
  padding-bottom: 12px;
  z-index: 2;
}
.pbtittle {
  margin-top: 14px;
}

.btnbanner{
  margin-top: 28px;
}
.cpiebn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*---------------Finances------------------*/
.ftittle{
  margin-top: 47px;
  margin-bottom: 10px;
  color: #5716a3;
}
.ftittle2{
  margin-bottom: 32px;
}
.fgrid {
  display: grid;
  grid-template-columns: 15% 80%;
}
.fgrid .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 7.5px;
}
.fgrid .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fgrid .item3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
.fgrid .item4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  top: 0;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
}
.fgrid .item5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
.fgrid .item6{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fgrid .item3 img {
  width: 60px;
}
#finance .fibanner {
  position: absolute;
  height: 630px;
  right: 0;
  top: -48px;
  z-index: 1;
}
/*---------------Finances Banner------------------*/
#fbanner{
  background-color: #5716A3;
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 15px;
}
.fbtittle{
  color: #FFFFFF;
  font-weight: 900;
}
 /*---------------Project------------------*/
 /*--------Project1--------*/
.project1{
  height: 130px;
}
.ptittle{
  margin-top: 78px;
  text-align: center;
}
.col-12.back {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pgrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  grid-column-gap: 10px;
}
.pgrid .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item4{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pgrid .item5{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
 /*--------Project1--------*/
 .project2{
  background-image: url(../images/hands-keys.jpg);
  background-repeat: no-repeat;
  height: 50vmax;
  background-size: cover;
  margin-top: 100px;
 }
 /*--------Contact--------*/
#contact {
  background-color: #5716A3;
  position: relative;
  /* padding-left: 132px; */
  padding-top: 10px;
}
/*.form-floating {
  width: 486px;
}*/
#contactForm label {
  color: #494846;
}
.project3 h3 {
  margin-bottom: 36px;
  color: white;
}
.dtittle{
  margin-top: 50px;
  margin-bottom: 100px;
  color: white;
}
.project3 h5 {
  color: white;
  margin-top: 28px;
  margin-bottom: 28px;
}
.project3 form input {
  margin-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 0;
}
.project3 textarea {
  border-radius: 0;
  height: 100px;
}
.project3 p.strong {
  color: white;
}
.project3 #formSending p.strong {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.project3 #formSending p.strong span {
  background: #fff;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  margin: 0 3px;
  animation: sending 1s infinite;
}
img.facebook {
  margin-right: 30px;
}
.privacy{
  padding-top: 144px;
}
.col-7.red {
  padding-left: 133px;
  padding-right: 122px;
}
.whatsapp {
  border-top: solid 2px #8FCB5D;
  border-bottom: solid 2px #8FCB5D;
  font-size: 32px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: none;
  font-weight: 500;
}
img.imgwhatsapp {
  padding-right: 20px;
  width: 65px;
  padding-bottom: 10px;
}
.shared {
  margin-top: 40px;
}
/*--------Privacy--------*/
.pprivacy{
  background-color: #5716A3;
}
.lprivacy{
  padding-top: 144px;
  text-align: end;
}
.pritittle{
  padding-top: 12px;
  font-size: 9px;
}
.logtittle{
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 9px;
  padding-right: 85px;
}
img.logop {
  width: 40%;
  padding-bottom: 20px;
}
/*-----------------------------------------Project.html--------------------------------------------*/
/*---------------Project Banner------------------*/
#pbanner .owl-nav {
    display: none;
}
#pbanner .owl-dots {
    margin-top: -40px;
    position: absolute;
    left: 0;
    right: 0;
}
#pbanner .owl-theme .owl-dots .owl-dot span {
    background: #8fcb5d !important;
}
/*---------------The Project------------------*/
#theproject {
    margin-top: 100px;
}
#theproject .tpgrid h5{
  color: #1A1A1A;
}
.tptittle{
  font-weight: 900;
  color: #5716a3;
}
.tptittle1 {
  font-size: 54px;
  font-weight: 900;
  margin-bottom: 0;
  color: #5716a3;
}
.tptittle2 {
  color: #1A1A1A;
  margin-bottom: 30px;
  margin-top: 5px;
  width: 290px;
}
.tpgrid h5{
  margin-bottom: 0;
}
.itemtheproject1 .part img {
  padding-right: 2vw;
}
.tpgrid{
  display: grid;
  grid-template-columns: 1fr;
}
.tpgrid .itemtheproject1 .part{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3vh;
  width: 28vw;
}
.tpgrid .itemtheproject1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.tpgrid .itemtheproject2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 6vw;
}
img.tpimages {
    padding-right: 20px;
    padding-bottom: 51px;
}
/*---------------Ubication------------------*/
#ubication{
  background: #8FCB5D;
  padding-top: 90px;
  margin-top: 64px;
}
.utittle {
  font-weight: 900;
  color: #5716A3;
}
.utittle1 {
  color: #5716A3;
  font-size: 113px;
  font-weight: 900;
  margin-bottom: 0;
}
.utittle2 {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 0;
  color: #5716A3;
}
h5.utittle3 {
  color: #FFFFFF;
  padding-bottom: 151px;
  text-align: start;
}
img.uimages {
  padding-right: 20px;
  margin-bottom: 20px;
}
/*---------------Amenities------------------*/
#amenities{
  margin-top: 71px;
}
.amenities {
  display: flex;
  flex-direction: row;
  align-items: center;
}
img.aimages {
  padding-right: 30px;
  padding-bottom: 70px;
}
.ugrid .textp {
  padding-left: 12px;
  margin-bottom: 0;
  font-weight: 600;
  color: #1A1A1A;
}
.ugrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1vw;
  margin-top: 18px;
}
.ugrid .part{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3vh;
}
.ugrid .itemamenities1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ugrid .itemamenities2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ugrid .itemamenities3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
/*---------------Z-Banner------------------*/
#zbanner {
  margin-top: 165px;
}
#zbanner .owl-nav {
  display: none;
}
#zbanner .owl-dots {
  margin-top: -40px;
  position: absolute;
  left: 0;
  right: 0;
}
#zbanner .owl-theme .owl-dots .owl-dot span {
  background: #8fcb5d !important;
}
/*---------------Unidades------------------*/
section#unidades {
  margin-top: 135px;
}
.col-12.unid {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h2.atittle {
  font-weight: 900;
  width: 70vw;
  font-size: 40px;
}
#unidades .vgrid p {
  color: black;
}
.textu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h5.texth5 {
  padding-right: 10px;
}
h5.textsh5 {
  padding-right: 20px;
  color: #FFFFFF;
}
#unidades .vgrid img {
  border-radius: 25px;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}
#unidades .vgrid .unidmin{
  font-size: 11px;
}
#unidades .vgrid span {
  font-size: 20px;
}
#unidades .vgrid .dividerLine {
  border-bottom: solid 2px #8FCB5D;
  margin: 10px 0;
}
.info_project {
  padding-right: 45px;
}
.vgrid .wrap_image_project {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.vgrid .wrap_image_project:before {
  position: absolute;
  content: "";
  height: 127px;
  width: 127px;
  background-color: #5716A3;
  z-index: -1;
  border-radius: 100%;
  top: -5px;
  left: -5px;
}
.vgrid .wrap_image_project:after {
  position: absolute;
  content: "";
  height: calc(100% + 10px);
  width: 127px;
  background-color: #8FCB5D;
  top: 5px;
  right: -15px;
  z-index: -1;
  border-radius: 25px;
}
#unidades .vgrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6vmax;
  margin-top: 112px;
}
#unidades .vgrid .itemproject1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#unidades .vgrid .itemproject2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#unidades .vgrid .itemproject3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
/*---------------Storage------------------*/
#storage {
    margin-top: 124px;
}
.storage{
  background-color: #5716A3;
  border-radius: 48px;
  height: 96px;
  width: 710px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 20% 35% 5% 40%;
  align-items: center;
}
/*.storage .storimg{
  position: absolute;
}*/

.storage span {
    font-size: 20px;
    /* margin-right: 20px; */
}
.storage h5 {
    margin-bottom: 0;
}
.storage .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.storage .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.storage .item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 0px;
  height: 66px;
  border: 2px solid #8FCB5D;
  background: #8FCB5D;

}
.storage .item4{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.cstor{
  margin-top: 44px;
  text-align: center;
}
/*-----------------------------------------theowner.html--------------------------------------------*/
/*---------------Finance------------------*/
#main_finance{
  background-color: #56209F;
  height: fit-content;
  padding-top: 165px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main_finance .tittlemf{
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 900;
  padding-bottom: 10px;
}
#main_finance .tittlemfI{
  font-size: 47px;
  color: #5716A3;
  width: 50vw;
  padding-left: 110px;
  padding-bottom: 32px;
  padding-top: 24px;
  padding-right: 64px;
  font-weight: 900;
}
#main_finance .borderb{
  background-color: #8FCB5D;
  width: fit-content;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
#ftheproject{
  margin-top: 90px;
}

/*-----------------------------------------Backboard.html--------------------------------------------*/
/*---------------group------------------*/

#main_backboard{
  background-image: url("../images/oficina.jpg");
  height: 255px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#group {
  margin-top: 61px;
}
#group .titlegroup{
  color: #396DB9;
  font-size: 52px;
  margin-bottom: 25px;
}
#group .textgroup{
  color: #1A1A1A;
  font-size: 14px;
}
#group .contaupgrid .num {
  color: #396DB9;
  font-size: 55px;
  font-weight: 900;
}
#group .contaupgrid .fond .text{
  color: #396DB9;
  font-weight: 900;
}
#group .contaupgrid .fond {
  background-color: #F5F5F5;
  width: 253px;
  height: 156px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#group .contaupgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
#group .contaupgrid .itemconta1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#group .contaupgrid .itemconta2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#group .contaupgrid .itemconta3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#group .contaupgrid .itemconta4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
/*---------------know------------------*/
#know {
  margin-top: 87px;
  text-align: center;
}
#know .tittleknow{
  color: #396DB9;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 36px;
}
#know .wrap_video{
  padding-top:  56.25%;
  position: relative;
}
#know .wrap_video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/*-----------------------------------------theowner.html--------------------------------------------*/
/*---------------group------------------*/
#login .form-floating {
  margin-bottom: 10px;
}
#login .banner img {
  width: 100%;
}
.wrap_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login .tab {
  background-color: #8FCB5D;
  height: 70px;
  line-height: 70px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  width: fit-content;
  padding: 0 30px 0 25px;
  color: #1A1A1A;
  transform: translateX(-12px);
  margin-bottom: 30px;
}
#login h5.text_inicio {
  color: #1A1A1A;
  width: 240px;
  max-width: 100%;
  font-weight: 500;
  margin-bottom: 15px;
}
#login .tptittle {
  position: relative;
}

#login .tptittle .tree {
  position: absolute;
  left: -60px;
  width: 45px;
}
#login input.form-control {
  width: 400px;
  max-width: 100%;
  border-color: #707070;
  border-radius: 0;
}
/*--------------------------Queries-------------------------------*/
@media (min-width: 576px) {

}

@media (min-width: 992px) {

  #login .banner {
    background-image: url(https://via.placeholder.com/767x900?text=Banner);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  #login .banner img {
    display: none;
  }
  #login .inner_login {
    padding-left: 70px;
  }
  #login .login {
    padding-top: 95px;
  }
  #login .tab {
    font-size: 1rem;
    white-space: nowrap;
  }
}


@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
  .logtittle {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 9px;
    padding-right: 50px;
  }
}

@media (max-width: 991.98px) {
  .btn.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    padding: 6px 20px !important;
    color: #5716A3 !important;
    border-radius: 20px;
    font-weight: 500;
  }
  .navbar-collapse {
      background: rgba(117, 86, 192, 0.8);;
      position: fixed;
      left: 0;
      top: 57px;
  }
  .navbar-collapse .navbar-nav .nav-item a {
    margin-left: 20px;
  }
  nav.navbar.navbar-expand-lg.navbar-light {
    padding-top: .5rem;
  }
  .imgnavbar{
    width: 60px;
  }
  #pbanner {
    margin-top: 57px;
  }
  #banner {
    margin-top: 57px;
  }
  section#main_backboard {
    margin-top: 57px;
  }
  .btn.btn-primary {
    width: fit-content;
  }
  /*li:not(:last-child) a:before {
    content: '';
    position: absolute;
    background: #f9fafb;
    width: calc(100% - 6px);
    height: 1px;
    left: 17px;
    bottom: 0;
  }
  .navbar-collapse li:not(:last-child) a {
    position: relative;
  }*/
   .red {
    margin-top: 50px;
  }
  .privacy {
    padding-top: 50px;
  }
  .lprivacy {
    padding-top: 70px;
  }
  .logtittle {
    padding-right: 28px;
  }
  .dtittle {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
  }

  #unidades .vgrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .storage {
    height: fit-content;
    width: fit-content;
    grid-template-columns: 40% 10% 40%;
    align-items: center;
    justify-content: center;
  }
  .storage .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  .storage .item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .storage .item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .storage .item4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fgrid .item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main_finance .tittlemfI {
    width: 90vw;
  }
  #group .contaupgrid .fond {
    width: 45vw;
    height: 25vh;
  }
  .info_project {
    margin-bottom: 50px;
  }
  #storage {
    margin-top: 50px;
  }
  .wrap_image_project img {
    width: 70%;
  }
  .vgrid .wrap_image_project:before {
    height: 100px;
    width: 100px;
    left: 50px;
  }
  .vgrid .wrap_image_project:after {
    height: calc(100% + 10px);
    width: 110px;
    right: 45px;
  }
  section#unidades {
    margin-top: 100px;
  }
  #unidades .vgrid .dividerLine {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
   #unidades .vgrid .itemproject1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }
  #unidades .vgrid .itemproject2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }
  #unidades .vgrid .itemproject3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
  }
  .info_project {
    padding-right: 45px;
    padding-left: 45px;
  }
  .tpgrid {
    margin-top: 30px;
  }
  #theproject .project_m{
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #theproject .project_m h1, h5{
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .tpgrid .itemtheproject1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tpgrid .itemtheproject1 .part {
    display: block;
    padding-bottom: 5vh;
    width: 100%;
  }
  .tpgrid .itemtheproject2 {
    margin-top: 20px;
    padding-left: 0;
  }
  .cpiebn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #fbanner {
    text-align: center;
  }
  #zbanner {
    margin-top: 100px;
  }
  #login .tab {
    margin-left: 0;
    margin-top: 30px;
    height: auto;
    text-align: left;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .inner_login {
      padding-left: 45px;
      padding-bottom: 30px;
  }
  #login .tptittle .tree {
    width: 30px;
    left: -45px;
  }
  #login h5.text_inicio {
      text-align: left;
      margin-left: 0;
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
